<% include header %>
<% include navBar %>

<div class = "container-fluid">
<div class = "row">
  <div class = "col-sm-4">
  </div>
    
  <div class = "col-sm-4">
  <h4>Instructor Details</h4>
    <form action = "/courseView/edit" method = "post">
        <div class = "jumbotron">
        
          <div class="form-group">
              <label for="email1">Instructor ID: <%= courses.id%></label>
          </div><br>
          
          <div class="form-group">
            <label for="pwd1">Instructor Name: <%= courses.name%></label>
          </div><br>
          
          <div class="form-group">
            <label for="pwd1">Course Name: <%= courses.title%></label>
          </div><br>
          
          <div class="form-group">
            <label for="pwd1">CRN Number: <%= courses.CRN%></label>
          </div><br>

          <div class="form-group">
            <label for="pwd1"> Regestrations: <%= courses.status %>  </label>
            <a class="btn btn-danger" href="/courseView/regestrationStatus/<%= courses.CRN %>">CHANGE</a>
          </div><br>
        </div>
      </form>
   </div>
</div>

<table class="table table-bordered">
    <thead>
      <tr>
        <th>Student Name</th>
        <th>sid</th>
        <th>Attendance Percentage</th>
        <th>Options</th>
      </tr>
    </thead>
    
    <tbody>
      <% if (stud.length) { %>
        <% stud.forEach(function(entry) { %>
          <tr>
            <td><%= entry.name %></td>
            <td><%= entry.id %></td>
            <td><%= entry.att %></td>
            <td> <a class="btn btn-primary" href="/courseView/attEdit/<%= entry.id %>/<%= courses.CRN%>">EDIT</a> <a class="btn btn-danger" href="/courseView/remove/<%= entry.id %>/<%= courses.CRN%>">REMOVE STUDENT FROM THE COURSE</a> </td>
          </tr>
        <% }) %>
      <% } %>
    </tbody>
  
  </table>
</div>

<% include footer %>