<% include header %>
<% include navBar %>

<div class = "container-fluid">
  <form class="well form-horizontal">
  <fieldset>

  <!-- Form Name -->
  <legend><center><h4><b>Course Details</b></h4></center></legend><br>


    <label class="col-md-2 col-sm-6 control-label">Course Name: </label>  
    <div class="col-md-2 col-sm-6 inputGroupContainer">
    <div class="input-group">
    
     <input  name="course_title"  class="form-control"  type="text" value="<%= courses.title%>" disabled>
      </div>
    </div>

    <label class="col-md-2 col-sm-6 control-label">CRN Number: </label>  
    <div class="col-md-2 col-sm-6 inputGroupContainer">
    <div class="input-group">
    
     <input  name="course_crn"  class="form-control"  type="text" value="<%= courses.CRN%>" disabled>
      </div>
    </div>

    <label class="col-md-2 col-sm-6 control-label">Regestrations:  </label>  
    <div class="col-md-2 col-sm-6 inputGroupContainer">
    <div class="input-group">
     <input  name="course_title"  class="form-control"  type="text" value="<%= courses.status %> " disabled>
      <a class="btn btn-danger" href="/courseView/regestrationStatus/<%= courses.CRN %>">CHANGE</a>
      </div>

    </div>
   </fieldset>
  </form>
  


<table class="table table-bordered">
    <thead>
      <tr>
        <th>Student Name</th>
        <th>sid</th>
        <th>Attendance Percentage</th>
        <th>Options</th>
      </tr>
    </thead>
    
    <tbody>
      <% if (stud.length) { %>
        <% stud.forEach(function(entry) { %>
          <tr>
            <td><%= entry.name %></td>
            <td><%= entry.id %></td>
            <td><%= entry.att %></td>
            <td> <a class="btn btn-primary" href="/courseView/attEdit/<%= entry.id %>/<%= courses.CRN%>">EDIT</a> <a class="btn btn-danger" href="/courseView/remove/<%= entry.id %>/<%= courses.CRN%>">REMOVE STUDENT FROM THE COURSE</a> </td>
          </tr>
        <% }) %>
      <% } %>
    </tbody>
  
  </table>
</div>

<% include footer %>